tools/
**/.idea/*
**/__pycache__/*
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg


# Environments
.env
.venv
env/
venv*/
ENV/
env.bak/
venv.bak/
pythonenv*


#nand2tetris
*.cmp
*.out
*.tst

projects/04/*/*.hack
projects/05/*.hack
projects/06/add/
projects/06/max/
projects/06/pong/
projects/06/rect/
projects/07/MemoryAccess
projects/07/StackArithmetic
projects/08/FunctionCalls
projects/08/ProgramFlow
projects/10/ArrayTest
projects/10/ExpressionlessSquare
projects/10/Square
projects/11/Average
projects/11/ComplexArrays
projects/11/ConvertToBin
projects/11/Pong
projects/11/Seven
projects/11/Square
projects/12/ArrayTest
projects/12/KeyboardTest
projects/12/MathTest
projects/12/MemoryTest
projects/12/OutputTest
projects/12/ScreenTest
projects/12/StringTest
projects/12/SysTest

